<div class="icon-with-text py-[73px] bg-cotalLightGreen ">
  {% if section.settings.heading != blank %}
    <div class="icon-with-text__heading">
      <h2 class="h2 text-cotalBlue text-center uppercase">{{ section.settings.heading }}</h2>
    </div>
  {% endif %}
  <div class="swiper iconSlider max-w-[1300px] pt-[50px] px-20">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide flex flex-col gap-8 justify-center items-center">
          {% if block.settings.icon != blank %}
            <div class="Icon-with-text__media max-h-[50px]">
              {{ block.settings.icon | image_url: width: '100', height: '150' | image_tag }}
            </div>
          {% endif %}
          {% if block.settings.description %}
            <div class="icon-with-text__content">
              <p class="italic">{{ block.settings.description }}</p>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next after:hidden md:right-0 w-auto">
      <span class="svg-wrapper">
      {{- 'icon-right-arrow.svg' | inline_asset_content -}}
      </span>
    </div>
    <div class="swiper-button-prev after:hidden md:left-0 w-auto">
      <span class="svg-wrapper">
      {{- 'icon-left-arrow.svg' | inline_asset_content -}}
      </span>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Icon With Text",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    }
  ],
  "blocks": [
    {
      "type": "icon_with_text",
      "name": "Icon With Text",
      "settings": [
        {
          "type": "image_picker",
          "label": "icon",
          "id": "icon"
        },
        {
          "type": "inline_richtext",
          "label": "Description",
          "id": "description",
          "default": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon With Text"
    }
  ]
}
{% endschema %}
